.burger-btn {
  overflow: visible;
  cursor: pointer;
  fill: #fff;
}
.burger-btn--1, .burger-btn--2, .burger-btn--3 {
  transition: 0.2s;
  transform-origin: center center;
  
}
.burger-btn.active .burger-btn--1 {
  transform: translate(-6px, 5px) rotate(45deg);
}
.burger-btn.active .burger-btn--2 {
  transform: translateX(-20px);
  opacity: 0;
}
.burger-btn.active .burger-btn--3 {
  transform: translate(-6px, -5px) rotate(-45deg);
}

.burger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: $red;
  border-radius: 50%;
  visibility: hidden;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    visibility: visible;
  }
}
