/* footer */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: $blue;

  // background-color: $grey;
  // color: $dark-blue;

  &__wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  &__logo {
    width: 250px;
    object-fit: contain;
    margin-bottom: 20px;
  }

  &__tel,
  &__email {
    text-decoration: none;
    color: $grey;
    font-size: 30px;
    font-weight: 700;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__address-box {
    color: #fff;
    font-size: 12px;
  }
}

@media screen and (max-width: 970px) {
  // .categories__wrapper {}
}

@media screen and (max-width: 768px) {
  .footer__contacts {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .footer__contacts {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
 
}