.sub-menu {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: max-content;
  visibility: hidden;
  z-index: 0;
  opacity: 0;
  transition: all 0.2s ease-in;
  transform: translateY(21px);
  background-color: $dark-blue;
  color: #fff;
  box-shadow: 0px 3px 5px -1px rgba(7, 7, 7, 0.418);
  text-align: left;
  cursor: pointer;

  &__item {
    list-style-type: none;
    padding: 15px 20px;

    &:hover {
      background-color: $cyan;
    }

    &:hover .sub-menu__link {
      text-shadow: 2px 2px 3px rgb(70, 70, 70);
      background-color: $cyan;
    }
  }

  &__link {
    color: $grey;
    text-decoration: none;
    text-shadow: none;
  }

  &_active {
    visibility: visible;
    z-index: 1;
    opacity: 1;
  }
}
